* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pink-button {
  display: block;
  width: 300px;
  padding: 10px 0;
  margin: 0 auto;
  border: 3px solid #d68cce;
  color: #d68cce;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.pink-button:hover {
  background-color: #d68cce;
  color: #fff;
}

main {
  width: 960px;
  margin: 50px auto 150px;
}
#top {
  width: 840px;
  margin: 0 auto 400px;
  text-align: center;
}
#top section {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 32px;
}
#owndays-logo {
  width: 300px;
  height: auto;
}
#top > img {
  display: block;
  width: 450px;
  height: auto;
  margin: 0 auto 50px;
}

#questions {
  width: 840px;
  margin: 0 auto 400px;
  text-align: center;
}
#questions section {
  margin-bottom: 50px;
}
#questions h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.choices {
  display: flex;
  justify-content: space-between;
}
.choices label {
  display: block;
  width: 160px;
  padding: 10px 0;
  margin: 0 auto;
  border: 3px solid #37c7a7;
  border-radius: 10px;
  color: #37c7a7;
  font-weight: bold;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.choices input {
  width: 0;
  opacity: 0;
}
.choices label.selected {
  background-color: #37c7a7;
  color: #fff;
}

.diagnosis {
  display: none;
  border: 3px solid #aaa;
  padding: 10px;
}
.diagnosis.show {
  display: block;
}
.diagnosis h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.introduction {
  display: flex;
  padding-left: 30px;
  margin-bottom: 30px;
}
#amber .introduction {
  align-items: center;
}
.introduction > img {
  width: 225px;
  height: 225px;
  margin-right: 20px;
}
.introduction-title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.introduction-title img {
  width: 225px;
  height: auto;
  margin-right: -25px;
}
#niche-logo {
  width: 350px;
  margin: 0 -80px;
}
.introduction-title h4 {
  font-size: 20px;
  font-weight: normal;
}
.introduction p {
  font-size: 16px;
}

.lineup {
  display: flex;
  padding: 0 90px;
  justify-content: space-between;
}
.lineup img {
  display: block;
  width: 225px;
  height: auto;
}